<header class="banner">
    <div class="banner-content">
        <h1>T20 World Cup 2024</h1>
        <div class="user-info">
            <div class="user-avatar">
                <img [src]="picture" alt="User Avatar" referrerpolicy="no-referrer">
            </div>
            <div>
                <h5><strong>Group:</strong> {{group}}</h5>
            </div>
            <div class="user-details">
                <p><strong>Points:</strong><br>1200</p>
                <p><strong>Rank:</strong><br>1</p>
                <p><strong>Strike Rate:</strong><br>85%</p>
            </div>
        </div>
    </div>
</header>
